<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
	
<head>
	<title>Pesquisa de clientes</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Clientes</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/clientes/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Cliente</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${cliente}">
			<div class="row">
				
				<div class="form-group  col-sm-6" >
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		<form th:action="@{/clientes/cliente}" method="DELETE">
		<div class="table-responsive  bw-tabela-simples">
			<button type="submit" class="btn btn-danger">Excluir registros selecionados</button>
			<table class="table  table-hover">
				<thead>
					<tr>
					    <th ><input type="checkbox" id="selecao-todos"  /></th>
						<th class="table-cervejas-col-foto"></th>
					    <th class="text-center">codigo</th>
						<th class="table-cervejas-col-nome">Nome</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cliente : ${clientes}" >
						<td ><input type="checkbox" class="js-selecao"  th:field="${cliente.codigo}" th:value="${cliente.codigo}"/></td>
						<td class="text-center">
							<img th:src="${cliente.foto.urlThumbnailFoto}" class="img-responsive"/>							
						</td>
						<td class="text-center" th:text="${cliente.codigo}">1</td>
						<td th:text="${cliente.nome}">Jose</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
									th:href="@{/clientes/{codigo}(codigo=${cliente.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/clientes/{codigo}(codigo=${cliente.codigo})}"
									data:objeto="${cliente.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Arquivos" 
									th:href="@{/clientes/{codigo}/arquivos(codigo=${cliente.codigo})}"> 
								<i class="glyphicon glyphicon-folder-close"></i>
							</a>
						</td>
						
					</tr>

				</tbody>
			</table>
		</div>
		</form>
		

		
		
	</div>

</section>
<th:block layout:fragment="javascript-extra">
<script type="text/javascript">
//Explorando a Linguagem JavaScript - 7.2. Seletores
$(function(){
  //selecionando o checkbox com id=selecao-todos-produtos
  var selecaoTodos  = $('#selecao-todos');
  //selecionando o checkbox com a classe=js-selecao-produto
  var selecao = $('.js-selecao');
  //função que filtra por checado ou nao checado e estiliza a tr
  function estilizarLinhaProdutos(){
    selecao.filter(':checked').parents('tr').addClass('selecionado');
    selecao.filter(':not(:checked)').parents('tr').removeClass('selecionado');
  }

  // funcao para verificar se todos produtos estao selecionados
  selecao.on('click',function(){
    //filtrando a quantidade de checkbox selecionados
    var totalSelecionados = selecao.filter(':checked').length;
    // a variavel checked recebe o resultado da comparacao 
    var checked = selecao.length === totalSelecionados;
    //altera o checkbox de selecao de todos produtos se todos produtos
    //estiverem selecionados passando o resultado true or false
    selecaoTodos.prop('checked',checked);
  });

  //funcao para alterar todos checkboxes de produtos de acordo com o de selecao de todos produtos
  selecaoTodos.on('click',function(){
    selecao.prop('checked',selecaoTodos.prop('checked'));
    // //alterando a cor de todos checkbox
    // if(selecaoTodos.prop('checked')){
    //   //selecionar todas tr's e incluir a classe "selecionado"
    //   selecao.parents('tr').addClass('selecionado');
    // }else{
    //   selecao.parents('tr').removeClass('selecionado');
    // }
    estilizarLinhaProdutos();
  });

  //funcao para alterar a cor dos itens da tr do checkbox selecionado
  //pelo evento onchange pegando o evento que ele lança que exiber o que pode ser manipulado
  selecao.on('change',function(evento){
    //criando uma variavel para receber um objeto que sera extraido do evento.target
    // var selecao = evento.target;
    // para usar o Jquery fica assim
    // var selecao = $(evento.target);

    //navegando ate o objeto pai para manipular a tr parent apenas o primeiro, parents para anteriores
    //filtrando ate o tr
    //caso fosse classe usa . caso fosse id # sem nada e Elemento  
    //verificando se esta marcado ou nao o produto
    // if(selecao.prop('checked')){
    // selecao.parents('tr').addClass('selecionado');
    // }
    // else{
    //   selecao.parents('tr').removeClass('selecionado');
    // }
    estilizarLinhaProdutos();
  });


});
</script>
</th:block>
</body>
</html>